/**
 * Global Navigation Styles
 * Styles for the federal global navigation component
 */

/* ========================================
   Header Container
   ======================================== */

header.global-navigation.site-pivot {
  display: block;
  visibility: visible;
}

header.global-navigation.site-pivot ul {
  list-style: none;
}

.feds-brand-container {
  display: flex;
  flex-shrink: 0;
}

.feds-brand {
  display: flex;
}

.feds-brand, .feds-logo {
  align-items: center;
  outline-offset: 2px;
  padding: 0 var(--feds-gutter);
  column-gap: 10px;
}

.feds-brand-image, .feds-logo-image {
  width: 25px;
  flex-shrink: 0;
}

.feds-brand-image.brand-image-only {
  height: 36px;
  width: auto;
  min-width: 66px;
}

.feds-brand-image.brand-image-only picture, .feds-brand-image.brand-image-only img, .feds-brand-image.brand-image-only svg {
  width: auto;
  height: 100%;
}

.feds-brand-image picture, .feds-brand-image img, .feds-brand-image svg, .feds-logo-image picture, .feds-logo-image img, .feds-logo-image svg {
  width: 100%;
  display: block;
}
